h1{
    text-align: center;
    font-size: 80pt;
    color: deepskyblue;
  }
  ul{
    font-size: 40pt;
    list-style-type: square;
    margin-left: 400pt;
    color: lightskyblue;
    text-shadow: 3px 3px black;
  }
  
  body{
     background-image: url('https://cdn.pixabay.com/photo/2018/09/12/12/14/man-3672010_960_720.jpg');
    
    }
  
  .button {
          size: 30px;
          transition-duration: 0.7s;
          align-self: center;
          font-size: 20px;
          text-decoration: none;
          background-color: coral;
      }

.button:hover{
  background-color: lawngreen;